*,*::after,*::before{
    box-sizing: border-box;
}

.container{
    max-width: 300px;
    margin: 0 auto;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    border: 2px solid aquamarine;
}

input[type='text']{
    width: 100%;
    height: 30px;
    border: none;
}

li{
    list-style: none;
}

ul{
    text-align: start;

}

label{
    font-size: 20px;
    margin-right: 50px;
}