/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* *****custum***** */
body{
    background-color: rgb(47, 237, 173);
    text-align: center;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
}

/* ****header**** */
header{
    background-color:rgb(172, 173, 164);
}

h1{
    color:rgb(11, 28, 218);
    font-size: 32px;
    font-weight: 700;
}

/* ******main***** */
input{
    width: 15rem;
    height: 30px;
    padding: 0 30px ;
    margin: 30px 0;
    border-color: blue;
}

.image_box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

figure{
    flex: 0 1 24%;
    margin-bottom: 0.6rem;
}

img{
    width: 100%;
}